.sort {
  position: relative;

  &__label {
    display: flex;
    align-items: center;

    b {
      margin-right: 8px;
    }

    span {
      color: #16b67f;
      border-bottom: 1px dashed #16b67f;
      cursor: pointer;
    }
  }

  &__popup {
    position: absolute;
    right: 0;
    margin-top: 15px;
    background: #ffffff;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.09);
    border-radius: 10px;
    overflow: hidden;
    padding: 10px 0;

    ul {
      overflow: hidden;
      li {
        padding: 12px 20px;
        cursor: pointer;

        &.active,
        &:hover {
          background: rgba(22, 182, 127, 0.1);
        }

        &.active {
          font-weight: bold;
          color: #16b67f;
        }
      }
    }
  }
}
